@model List<Interior.DomainLayer.Concrete.Contact>
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <table class="table-bordered">
        <tr>
            <th>#</th>
            <th>Adı</th>
            <th>Mail</th>
            <th>Konu</th>
            <th>Mesaj</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ContactID</td>
                <td>@item.ContactName</td>
                <td>@item.ContactMail</td>
                <td>@item.ContactSubject</td>
                <td>@item.ContactMessage</td>
                <td><a href="#" class="btn btn-outline-danger">Sil</a></td>
                <td><a href="#" class="btn btn-outline-warning">Güncelle</a></td>
            </tr>
        }
    </table>
    <br />
    <br />
    <a href="/Contact/AddContact/" class="btn btn-outline-success">İletişim Ekle</a>
</div>